* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: "Delius", cursive;
}

.mensaje {
    font-size: 30px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #ffffff;
    color: #000000;
    padding: 12px 20px;
    border-radius: 12px;
    box-shadow: 0 0 20px #000;
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 9999;
    border: #b90101 solid 2px;
}

.mensaje.activo {
    opacity: 1;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 30px;

}

li {
    border: 3px solid white;
    border-radius: 4vh;
    padding: 20px;
    margin: 10px;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.705);
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
    cursor: pointer;
}

a {
    color: white;
}

body {
    background: linear-gradient(120deg, #b90101, #0000ff);
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo div {
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 30px;
    font-weight: 900;
    padding: 20px;
    border-radius: 6vh;
    box-shadow: 0px 0px 20px #000000;
    margin-top: 40px;

}

.archivos {
    display: flex;
    gap: 60px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;
}




.art__rpa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 2vh;
    transition: .6s;
    border-radius: 8vh;
    border: solid 1.4px #fff;
    box-shadow: 0px 0px 20px #000000;
}

.art__gr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 2vh;
    transition: .6s;
    border-radius: 8vh;
    border: solid 1.4px #fff;
    box-shadow: 0px 0px 20px #000000;
}

.art__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-radius: 2vh;
    transition: .6s;
    border-radius: 8vh;
    border: solid 1.4px #fff;
    box-shadow: 0px 0px 20px #000000;
}

.art__ix {
    display: flex;
    gap: 20px;
    margin: 10px;
    flex-wrap: wrap;
    transition: .6s;
    border-radius: 8vh;
    border: solid 1.4px #fff;
    box-shadow: 0px 0px 20px #000000;
}

.art__ix:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 26px #fff;
    background-color: #0000008f;
}

.art__main:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 26px #fff;
    background-color: #0000008f;
}

.art__zpa:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 26px #fff;
    background-color: #0000008f;
}

.art__gr:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 26px #fff;
    background-color: #0000008f;
}

.art__rpa:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 26px #fff;
    background-color: #0000008f;
}


.art__ix img {
    width: 300px;
    height: auto;

}

.art__rpa img {
    width: 380px;
    height: auto;
}

.art__gr img {
    width: 500px;
    height: auto;

}

.art__main img {
    width: 300px;
    height: 300px;

}

#datomain {
    display: flex;
    flex-direction: column;
    padding-inline: 200px;
    margin: 40px;
    align-items: center;
}

.cliente {
    display: flex;
    flex-direction: column;
    gap: 60px;

}

#clienteNombre {
    font-size: 30px;
    text-align: center;
    border-radius: 6vh;
    border: solid 3px #000;
}

#clienteTelefono {
    font-size: 30px;
    text-align: center;
    border-radius: 6vh;
    border: solid 3px #000;
}

#clienteProvincia {
    font-size: 30px;
    text-align: center;
    border-radius: 6vh;
    border: solid 3px #000;
}

#clienteDireccion {
    font-size: 30px;
    text-align: center;
    border-radius: 6vh;
    border: solid 3px #000;
}

.ver {
    font-size: 40px;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
    border-radius: 6vh;
    border: solid 3px #00e4e4;
    box-shadow: 0px 0px 20px #000;
    cursor: pointer;
    transition: .8s;
}

.ver:hover {
    transform: scale(1.08);
    background-color: #00e4e4;
    border: solid 4px #000;
    color: #ffffff;
    text-shadow: 0px 0px 10px #000;
}

.enviar {
    font-size: 40px;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
    border-radius: 6vh;
    border: solid 3px #00e4e4;
    box-shadow: 0px 0px 20px #000;
    cursor: pointer;
    transition: .8s;
}

.enviar:hover {
    transform: scale(1.08);
    background-color: #00e44c;
    border: solid 4px #000;
    color: #ffffff;
    text-shadow: 0px 0px 10px #000;
}